.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    }
    .Note{
    font-size: 15px;
    color: black;
    }
    body{
    background-size: cover;
    }
        .player_button{
        width: 250px;
        font-size: 45px;
        margin-bottom: -200px;
        }
canvas{
border: 5px;
}
